{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Bus Reservation System</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Passengers Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->

<link href="{% static 'homepagestatic/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'homepagestatic/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'homepagestatic/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="{% static 'homepagestatic/css/flexslider.css' %}" type="text/css" media="screen" />  <!-- flexslider-CSS -->
<link href="{% static 'homepagestatic/css/font-awesome.css' %}" rel="stylesheet">		<!-- font-awesome icons -->
<!-- //Custom Theme files -->
<!-- web-fonts -->   
<link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body>  
	<!-- banner -->
	<div class="agileits-banner">
		<div class="bnr-agileinfo"> 
			<!-- navigation -->
			<div class="top-nav w3-agiletop">
				<div class="container">
					<div class="navbar-header w3llogo">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>  
						<h1><a href="index.html">Gombe Line</a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class="w3menu navbar-right">
							<ul class="nav navbar">
								<li><a href="{% url 'home' %}" class="active">Home</a></li>
								{% if not user.is_authenticated %}
                                <li><a href="#welcome">Login</a></li>
								<li><a href="#welcome">Register</a></li>
                                {% endif %}
                                {% if user.is_authenticated %}
								<li><a href="{% url 'distinct-reservations' %}">My Reservations</a></li>

                                <li><a href="{% url 'route' %}">Active Reservations</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% endif %}

							</ul>
						</div> 
						<div class="clearfix"> </div>  
					</div>
				</div>	
			</div>	
			<!-- //navigation -->
			<!-- banner-text -->
			<div class="banner-text agileinfo"> 
				<div class="container">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="banner-w3lstext">  
									<h2>Book A Seat Now</h2>
									<p>Click Arrow Below To View Active Reservations</p>
								</div>
							</li>
							<li>
								<div class="banner-w3lstext">  
									<h2>Book A Seat Now</h2>
									<p>Click Arrow Below To View Active Reservations</p>
								</div>
							</li>
						</ul> 
					</div> 	 
				</div>
			</div>
			<!-- //banner-text -->  
			<!-- arrow bounce -->
            {% if user.is_authenticated %}
                <div class="agileits-arrow bounce animated"><a href="#activereserve" class="scroll"><i class="fa fa-angle-down" aria-hidden="true"></i></a></div>
            {% else %}
			    <div class="agileits-arrow bounce animated"><a href="#welcome" class="scroll"><i class="fa fa-angle-down" aria-hidden="true"></i></a></div>
			{% endif %}
            <!-- //arrow bounce -->
		</div>
	</div>
	<!-- //banner --> 
	<!-- features -->
{% if not user.is_authenticated %}
	<div class="features"class="welcome" id="welcome">
        <div class="agileits-title">
				<h3>Login</h3>
			</div>
		<div class="container">
			<div class="team-wthree-grid">
				<div class="col-md-6 features-w3grid">
					<div class="features-row2">
						<div class="features-w3lleft">
							<h4>New User</h4>
							<p>Register here to become a member</p>
						</div>
						<div class="features-w3lright">
                            {% block content %}
                            <div class="item">
                                <button id="comment-button" class="btn btn-large w3ls-login">Register</button>
							    <a href="{% url "register" %}"  data-target="#form-modal" class="w3ls-login" data-toggle="modal" >Register</a>
                            </div>
                            {% endblock %}
                        </div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 features-w3grid">
					<div class="features-row2">
						<div class="features-w3lleft">
							<h4>Already a Member </h4>
							<p>Please sign in here</p>
						</div>
						<div class="features-w3lright">
                            {% block content1 %}
                            <div class="item">

							    <a href="{% url "login" %}"  data-target="#form-modal-login" class="w3ls-login" data-toggle="modal" >Login</a>
                            </div>
                            {% endblock %}
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    {% endif %}
	<!-- //features -->
    <!-- Login modal popup -->
    <div id="form-modal-login" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div id="form-modal-body-login" class="modal-body">
                            <p>One fin&hellip;</p>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
	<!-- //login modal -->
	<!-- register modal -->
    <div id="form-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div id="form-modal-body" class="modal-body" >
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

	<!-- //register modal -->
{% if user.is_authenticated %}
        <div class="container-fluid" id="activereserve">
            <div class="row">
                <table class="table">
                    <caption>Active Reservations Table</caption>
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Route</th>
                      <th>Departure Time</th>
                      <th>Stop Points 1</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
        {% for routes in route %}
                  <tbody>
            {% if routes.status %}
                    <tr>
                      <th scope="row">{{ routes.id }}</th>
                      <td>{{ routes.route_name }}</td>
                      <td>{{ routes.departure_time }}</td>
                      <td>{{ routes.stop_point }}</td>
                        <td>{{ routes.route_description }}</td>
                        <td>{{ routes.price }}</td>
                        <td> Active </td>
                        <td><a href="{% url 'reserve' route=routes.id bus=routes.bus_id name=routes.route_name %}" class="btn btn-success" role="button">Reserve A Seat</a></td>

                    </tr>

                  </tbody>
                    {% endif %}
                   {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    <!-- welcome -->

	<div class="copy-right"> 
		<div class="container">
			<p>© 2017 Passengers. All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
		</div> 
	</div> 
	<!-- //footer -->   
	<!-- footer modal -->
	<div class="modal about-modal w3-agileits fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body">
					<img src="images/img1.jpg" class="img-responsive" alt=""> 
					<h5>Cras rutrum iaculis enim</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at. Donec fringilla lacus eu pretium rutrum. Cras aliquet congue ullamcorper. Etiam mattis eros eu ullamcorper volutpat. Proin ut dui a urna efficitur varius. uisque molestie cursus mi et congue consectetur adipiscing elit cras rutrum iaculis enim, Lorem ipsum dolor sit amet, non convallis felis mattis at. Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque, eget porttitor massa vulputate. </p>
				</div> 
			</div>
		</div>
	</div>
	<!-- //footer modal -->   
	<!-- js -->

	 <script src="{% static 'homepagestatic/js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'homepagestatic/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'homepagestatic/js/easing.js' %}"></script>

    <script defer src="{% static 'homepagestatic/js/jquery.flexslider.js' %}"></script>

	<script src="{% static 'homepagestatic/js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'homepagestatic/js/SmoothScroll.min.js' %}"></script>
	<script src="{% static 'homepagestatic/js/jarallax.js' %}"></script>

        <script src="{% static 'homepagestatic/js/jquery.min.js' %}"></script>
        <script src="{% static 'homepagestatic/js/bootstrap.min.js' %}"></script>
        <script>
            var formAjaxSubmit = function(form, modal) {
                $(form).submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: $(this).attr('method'),
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        success: function (xhr, ajaxOptions, thrownError) {
                            if ( $(xhr).find('.has-error').length > 0 ) {
                                $(modal).find('.modal-body').html(xhr);
                                formAjaxSubmit(form, modal);
                            } else {
                                $(modal).modal('toggle');
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                        }
                    });
                });
            }
            $('#comment-button').click(function() {
                $('#form-modal-body').load('/modal/new-user/', function () {
                    $('#form-modal').modal('toggle');
                    formAjaxSubmit('#form-modal-body form', '#form-modal');
                });
            });
        </script>
<script>
    var formAjaxSubmit = function(form, modal) {
                $(form).submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: $(this).attr('method'),
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        success: function (xhr, ajaxOptions, thrownError) {
                            if ( $(xhr).find('.has-error').length > 0 ) {
                                $(modal).find('.modal-body').html(xhr);
                                formAjaxSubmit(form, modal);
                            } else {
                                $(modal).modal('toggle');
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                        }
                    });
                });
            }
            $('#login-button').click(function() {
                $('#form-modal-body-login').load('/modal/login-user/', function () {
                    $('#form-modal-login').modal('toggle');
                    formAjaxSubmit('#form-modal-body form', '#form-modal-login');
                });
            });
</script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>  
	<!-- //js -->
	<!-- FlexSlider --> 
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	</script>
	<!-- //End-FlexSlider --> 
	<!-- flexSlider -->  
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider1').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	</script>
	<!-- //flexSlider -->	
	<!-- start-smooth-scrolling --> 
   	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	 
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->  
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->




</body>
</html>